body {
    background: -webkit-linear-gradient(90deg, rgb(239, 239, 239), rgb(185, 196, 166));
    background: linear-gradient(90deg, rgb(239, 239, 239), rgb(185, 196, 166));
    width: 90%;
    margin: auto;
    padding: auto;
    /* background-image: url(logo_cthulhu_03.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;*/
}

blockquote {
    width: 50%;
    margin: auto;
    font-size: 160%;
    background-color: gray;
    border-left: 3px solid #dc5539;
    padding-left: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
    color: beige;
}

q {
    font-style: italic;
}

.fermier {
    border-left: 3px solid #dc5539;
}

.village {
    border-left: 3px solid #63B4E8;
}

header h1 {
    background-color: yellow;
}

.mal {
    color: red;
    text-transform: uppercase;
}

.bien {
    color: green;
    text-transform: uppercase;
}

td {
    padding: 8px 8px;
}

.whiterow {
    background-color: white;
}

.greyrow {
    background-color: grey;
    color: white;
}

#firstli {
    background-image: url(bien.png);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    padding-left: 25px;
}

#secondli {
    background-image: url(mal.png);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    padding-left: 25px;
}

#thirdli {
    background-image: url(chat.png);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    padding-left: 25px;
}

body p:first-of-type {
    font-weight: bold;
}

img {
    width: auto;
    float: inherit;
    margin: 10px 0;
}

/* 
inline menu

ul {
 padding:0;
 margin:0;
 list-style-type:none;
 }
li {
 margin-left:1px;
 }
ul li a {
 display:block;
 float:left;   
 width:80px;
 color:black;
 text-decoration:none;
 text-align:center;
 border:1px solid;
 margin: 2px;
 border-radius: 5px;
 padding: 2px 0px;
 width: 70px;
 }

 Flex boxes

 .posts {
  display: flex;
  flex-wrap: wrap;
}

article {
  border: 1px solid black;
  width: 350px;
  margin: 10px;
  padding: 10px;
}

Sticky element
.notification{
  background:#FFFFDD;
  padding:.5rem 1rem;
  border:3px solid #DDDDCC;
  width:250px;
  font-weight:bold;
  color: #333300;
  position: sticky;
  top: 0;
  float: right;
}
 */