body {
    text-align: center;
}

a {
    color: white;
}

header {
    background-color: #333333;
    height: 300px;
    padding: 9px 0;
}

footer {
    background-color: #333333;
    height: 300px;
    padding: 9px 0;
}

#logoheader {
    width: 10%;
    height: 10%;
}

nav ul li a {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0 10px;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style-type:none;
    }

.menu li {
    display: inline-block;
    /*float: left;*/
    margin: 0;
    padding: 0;
}

.menu a:hover {
    background-color: #525252;

}

#content {
    widows: 70%;

}