body {
    text-align: center;
}

header {
    background-color: #E9EDF2;
    padding: 10px 0;
}

header img,
header ul,
header button,
nav {
    display: inline-block;
}
#logoheader {
    margin: 10px 5px;
    vertical-align: middle;
}

nav ul li a {
    color: black;
    text-decoration: none;
    margin: 2px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
}

header img {
    width: 200px;
    height: auto;
}